.supplier-containe

.main-supplier {
    display: flex;
}

.supplier-left {
    flex: 1;
    padding-left: 30px;
}

.supplier-content {
    flex: 1;
}

.supplier-styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(6, 76, 83, 0.867);
    width: 100%;
}

.supplier-styled-table thead tr {
    background-color: rgba(6, 76, 83, 0.867);
    color: #ffffff;
    text-align: left;
}

.supplier-styled-table th,
.supplier-styled-table td {
    padding: 12px 15px;
}

.supplier-styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.supplier-styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.supplier-styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.supplier-styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.supplier-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
   background-color: #09ad;
}

.supplier-form-field{
    width: 100%;
    background-color: #dddddd;
}

/* Styles for the tooltip */
.tooltip-container {
    position: relative;
    width: 250px;
}

.tooltip-text {
    position: absolute;
    bottom: 100%;
    left: 0;
    background-color: #323030;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    display: none;
    box-shadow: 2px 14px 15px -7px #09ad
}

.tooltip-container:hover .tooltip-text {
    display: block;
}