/* Define the styles for the links */
.dashboard-link {
    text-decoration: none;
    color: #09ad;
    font-weight: bold;
    margin-right: 10px;
}

/* Style the chart container */
.chart-container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    box-shadow: 0 6px 10px #09ad;
}

/* Style the chart canvas */
.chart-container canvas {
    width: 100%;
    max-width: 600px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style the table */
.dashboard-table {
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
    margin: 20px auto;
}

/* Style the table headers */
.dashboard-table th {
    background-color: rgba(6, 76, 83, 0.867);
    padding: 10px;
    text-align: left;
    color: white;
}

/* Style the table cells */
.dashboard-table td {
    padding: 10px;
}

/* Apply alternating row colors */
.dashboard-table tbody tr:nth-child(even) {
    background-color: #8f8c8c;
}

/* Apply hover effect to table rows */
.dashboard-table tbody tr:hover {
    background-color: #bbbbbb;
}

.user-info {
    font-weight: bold;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.user-info button{
    text-decoration: none;
        color: #09ad;
        font-weight: bold;
        margin-right: 10px;
}